@import 'ext/solarized-light';

.highlight {
	background-color: #fffaea;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: 'Consolas', Menlo;
	line-height: 1.4em;
	tab-size: 4;
	white-space: pre-wrap;
}
